body{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
}
.header-section{
          /* background: rgb(187, 165, 165); */
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
}

.images{
          /* height: 420px; */
          padding-top: 40px;
          padding-left: 50px;
          padding-right: 50px;
          height: 350px;
         
          
}

/* @media (max-width: 550px){
          .Phone-search{
                    max-width: 100%;
         
} */

.detals-img{
          height: 450px;
          padding: 20px;
}


